<h2>videos</h2>

<h2>Video Vimeo</h2>
<iframe src="https://player.vimeo.com/video/399872234" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>


<iframe src="https://player.vimeo.com/video/399872234" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

<h2>Youtube</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Y6xAQVXkhLA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>Video local</h2>
<video width="320" height="240" autoplay muted>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">

Your browser does not support the video tag.
</video>

<router-outlet></router-outlet>